<h2 class="sub-header">Add Stores</h2> 
<form ng-submit="addStore()"> 
	<div class="form-group"> 
		<label>Store Name</label> 
		<input type="text" class="form-control" name="store_name" ng-model="store.store_name" placeholder="Store Name"/> 
	</div>
	<div class="form-group"> 
		<label>Company</label> 
		<input type="text" class="form-control" name="company" ng-model="store.company" placeholder="Company Name"/> 
	</div>
	<div class="form-group"> 
		<label>Logo Url</label> 
		<input type="text" class="form-control" name="logo_url" ng-model="store.logo_url" placeholder="Logo Url"/> 
	</div>
	<div class="form-group"> 
		<label>Email</label> 
		<input type="text" class="form-control" name="email" ng-model="store.email" placeholder="Email"/> 
	</div>
	<div class="form-group"> 
		<label>Phone</label> 
		<input type="text" class="form-control" name="phone" ng-model="store.phone" placeholder="Phone"/> 
	</div>
	<div class="form-group"> 
		<label>Slogan</label> 
		<input type="text" class="form-control" name="slogan" ng-model="store.slogan" placeholder="Slogan"/> 
	</div>
	<div class="form-group"> 
		<label>Longitude</label> 
		<input type="text" class="form-control" name="longitude" ng-model="store.longitude" placeholder="Longitude"/> 
	</div>
	<div class="form-group"> 
		<label>Latitude</label> 
		<input type="text" class="form-control" name="latitude" ng-model="store.latitude" placeholder="Latitude"/> 
	</div>
	<div class="form-group"> 
		<label>Area</label> 
		<input type="text" class="form-control" name="area" ng-model="store.area" placeholder="Area"/> 
	</div>
	<div class="form-group"> 
		<label>Street Address</label> 
		<input type="text" class="form-control" name="street" ng-model="store.address.street" placeholder="Street Address"> 
	</div> 
	<div class="form-group"> 
		<label>City </label> 
		<input type="text" class="form-control" name="city" ng-model="store.address.city" placeholder="City"> 
	</div> 
	<div class="form-group"> 
		<label>Suburb</label> 
		<input type="text" class="form-control" name="suburb" ng-model="store.address.suburb" placeholder="Suburb"> 
	</div> 
	<div class="form-group"> 
		<label>Province</label> 
		<input type="text" class="form-control" name="province" ng-model="store.address.province" placeholder="province"> 
	</div> 
	<div class="form-group"> 
		<label>Postal Code</label> 
		<input type="text" class="form-control" name="postalcode" ng-model="store.address.postalcode" placeholder="Postal Code"> 
	</div> 
	<button type="submit" class="btn btn-default">Submit</button> 

</form>

