	  <h2 class="sub-header">Stores</h2>
          <div class="table-responsive" ng-init="getStores()">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Slogan</th>
                  <th>Area</th>
                  <th>Email</th>
                  <th>Phone</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="store in stores">
                  <td>{{store._id}}</td>
                  <td>{{store.store_name}}</td>
                  <td>{{store.company}}</td>
                  <td>{{store.slogan}}</td>
                  <td>{{store.area}}</td>
                  <td>{{store.email}}</td>
                  <td>{{store.phone}}</td>
                  <td>
                  	<a href="#/stores/details/{{store._id}}"
                  	class="btn btn-primary">Details</a>
                  	<a href="#/stores/edit/{{store._id}}"
                  	class="btn btn-default">Edit</a>
                  	<button id="deleteStore" ng-click="deleteStore(store._id)" class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>