<div ng-init="getStore()"> 
	<img class="pull-right img-small" src="{{store.logo_url}}"> 
	<div class="clearfix"></div> 
	<h2 class="sub-header">{{store.company}}</h2> 
	<ul class="list-group">
		<li class="list-group-item"><strong>Compnay:</strong>{{store.company}}</li>
		<li class="list-group-item"><strong>Email: </strong>{{store.email}}</li> 
		<li class="list-group-item"><strong>Phone: </strong>{{store.phone}}</li> 
		<li class="list-group-item"><strong>Address: </strong>{{store.address.street}}</li> 
		<li class="list-group-item"><strong>City:</strong>{{store.address.city}}</li> 
		<li class="list-group-item"><strong>Suburb:</strong>{{store.address.suburb}}</li> 
		<li class="list-group-item"><strong>Postal Code:</strong>{{store.address.postalcode}}</li>
	</ul>
</div> 